.App {
  text-align: center;
}

.FormContainer {
  margin-top: 50px;
}

.SubmitButton {
  margin-top: 10px;
}

.SummaryButton {
  width: 120px;
}

.Separator {
  margin-top: 2rem;
}

.FormContainer .alert {
  margin-top: 15px;
}